@import "./common/mixins",
"common/variables",
"common/global";

.wp-block-growtype-video {
  &.alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: initial;

    .wp-block-group__inner-container {
      max-width: initial;
    }
  }
}

.growtype-video-main-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 50%;

  &[data-video-fit="cover"] {
    video {
      object-fit: cover;
    }
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 1s;
  }

  &.growtype-video-is-active {
    iframe {
      opacity: 1;
      transition: 1s;
    }
  }

  .growtype-video-player {
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      //object-fit: cover;
    }
  }

  .growtype-video-play-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 80px;
    z-index: 0;
    @include bp-phone-xl() {
      display: none;
    }
  }

  .growtype-video-btn-play {
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    background: url('./../images/play.svg');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    border-radius: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 24%);
    z-index: 2;
    cursor: pointer;
  }

  .growtype-video-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.product-image-thumbnail {
  &.has-growtype-video {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: url('./../images/play.svg');
    }
  }
}

.products {
  .growtype-video-main-wrapper {
    iframe {
      pointer-events: none;
    }
  }
}
