/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-growtype-post input[type="text"] {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.components-placeholder[data-type="growtype/video"].components-placeholder {
  min-height: initial;
}
